<h1>Editing consult</h1>

<%= form_for [:id, @consult.id ] do |f| %>
 

  <div class="field">
    <%= f.label :complain_of_patient %><br>
    <%= f.text_area :complain_of_patient %>
  </div>
  <div class="field">
    <%= f.label :diagnostic_of_doctor %><br>
    <%= f.text_area :diagnostic_of_doctor %>
  </div>
  <div class="field">
    <%= f.label :prescription_of_doctor %><br>
    <%= f.text_area :prescription_of_doctor %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered %><br>
    <%= f.text_field :drugs_delivered %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered_on %><br>
    <%= f.date_select :drugs_delivered_on %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered_by %><br>
    <%= f.text_field :drugs_delivered_by %>
  </div>
  <div class="field">
    <%= f.label :complain_id %><br>
    <%= f.number_field :complain_id %>
  </div>
  <div class="field">
    <%= f.label :complain_type %><br>
    <%= f.text_field :complain_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @consult %> |
<%= link_to 'Back', consults_path %>
